<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Liste de Produits</th>
                    </tr>
                </thead>
                @for (dept of departments; track dept)
                {
                <tbody>
                    <tr>
                        <td>{{dept.id}}</td>
                        <td>{{dept.depName}}</td>
                        <td>{{dept.depCode}}</td>
                    </tr>
                </tbody>
                }
            </table>
        </div>
    </div>
</div>